{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block content %}
<div class="row">
  <section class="section">
    <h2 class="section__h2">Восстановления пароля</h2>
    <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

    <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
  </section>
</div>
{% endblock %}