{% extends "base.html" %}

{% load static %}

{% load service_tags %}

{% block content %}
<div class="row">
  <section class="section">
    <h2 class="section__h2">Профиль</h2>
    <p class="section__text">Добро пожаловать, {{ user }}</p>
    <h3 class="section__h3">Изменить пароль</h3>
    <form action="{% url "user:password_change" %}" method="post" class="form">
      {% csrf_token %}

      {% draw_form form %}
      {% comment %} <div class="form-floating form__item">
        <input type="password" class="form-control" id="id_old_password" placeholder="Старый пароль" name="old_password" required>
        <label for="id_old_password">Старый пароль</label>
      </div>
      <div class="form-floating form__item">
        <input type="password" class="form-control" id="id_new_password1" placeholder="Новый пароль" name="new_password1" required>
        <label for="id_new_password1">Новый пароль</label>
      </div>
      <div class="form-floating form__item">
        <input type="password" class="form-control" id="id_new_password2" placeholder="Подтверди пароль" name="new_password2" required>
        <label for="id_new_password2">Подтверди пароль</label>
      </div>

      {% if form.errors %}
        <div class="form__errors">
          {% for field, errors in form.errors.items  %}
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
          {% endfor %}
        </div>
      {% endif %} {% endcomment %}
      
      <div class="form__item">
        <button class="btn btn-primary" type="submit">Изменить</button>
      </div>
    </form>
  </section>
</div>

{% endblock %}