{% extends "base.html" %}

{% load static %}

{% load service_tags %}

{% block content %}
<div class="row">
  <section class="section col-12">
    <h2 class="section__h2 text-center">Добро пожаловать в L. A. S</h2>
    <p class="section__text text-center">L. A. S (Lesson Accounting System) — система учёта уроков. Простая и надёжная система учёта поможет наладить порядок в учебном процессе</p>
    <div class="row g-3">
      <div class="col-lg-6">
        <div class="card h-100">
          {% if not user.is_authenticated %}
            <div class="card-header text-center fw-bold">Войти</div>
                <div class="card-body">
                  <form action="{% url "user:login" %}" method="post" class="form">
                    {% csrf_token %}
                    
                    {% draw_form form %}

                    <div class="form__item text-center">
                      <button class="btn btn-primary" type="submit">Войти</button>
                    </div>
                    <a href="{% url "user:password_reset" %}">Забыли пароль?</a>
                  </form>
            </div>
          {% else %}
            <div class="card-body text-center">
              <p class="card-text fw-bold mb-5">Вы уже вошли!</p>
              <a href="{% url "lessons:lessons_list" %}">К урокам</a>
            </div>
          {% endif %}
          
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card h-100">
          <img src="{% static "assets/img/pupils_list.png" %}" class="card-img-top card__img" alt="Список учеников">
          <div class="card-body">
            <p class="card-text text-center fw-bold">Ученики</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card h-100">
          <img src="{% static "assets/img/lessons_list.png" %}" class="card-img-top card__img" alt="Список уроков">
          <div class="card-body">
            <p class="card-text text-center fw-bold">Уроки</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card h-100">
          <img src="{% static "assets/img/reports_list.png" %}" class="card-img-top card__img" alt="Список отчётов">
          <div class="card-body">
            <p class="card-text text-center fw-bold">Отчёты</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock  %}